
clinicapp/__pycache__/__init__.cpython-310.pyc
clinicapp/__pycache__/__init__.cpython-310.pyc
clinicapp/__pycache__/admin.cpython-310.pyc
clinicapp/__pycache__/models.cpython-310.pyc
clinicapp/__pycache__/utils.cpython-310.pyc
*.pyc
