{% extends "doctor-view.html" %}
{% block details%}
<br>
    <!--    Chi tiết thanh toán hóa đơn-->
    <div class="chi-tiet-thanh-toan-hoa-don">
        <h1 style="text-align: center;">Lập phiếu khám</h1>
        <table id="talbe1-chi-tiet-thanh-toan-hoa-don">
          <tr>
            <td style="font-weight: 600;">Mã phiếu</td>
            <td style="border: 1px solid black; border-radius: 10px; text-align: center;">MP1</td>
          </tr>
          <tr>
            <td style="font-weight: 600;">Tên khách hàng:</td>
            <td>Nguyễn Thị Bitch</td>
            <td style="padding-left: 40px; font-weight: 600;">Ngày sinh:</td>
            <td>01/01/2001</td>
          </tr>
          <tr>
            <td style="font-weight: 600;">SĐT:</td>
            <td>0989915415</td>
            <td style="padding-left: 40px; font-weight: 600;">Ngày khám:</td>
            <td>15/12/2021</td>
          </tr>
        </table>
        <table id="talbe2-chi-tiet-thanh-toan-hoa-don">
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <div class="chi-tiet-thanh-toan-hoa-don-button"><button onclick="pay_the_bill({{bill[0]}})">Lập phiếu khám</button></div>
      </div>
<br>
{%endblock%}