{% extends "doctor-view.html" %}
{% block details%}
<br>
<!--    Chi tiết thanh toán hóa đơn-->
<div class="chi-tiet-thanh-toan-hoa-don">
    <h1 style="text-align: center;">Lập phiếu khám</h1>
    {% if patient %}
    <table id="talbe1-chi-tiet-thanh-toan-hoa-don">
        <tr>
            <td style="font-weight: 600;">Tên khách hàng:</td>
            <td>{{[patient[0], patient[1]]|join(' ')}}</td>
            <td style="padding-left: 40px; font-weight: 600;">Ngày sinh:</td>
            <td>{{patient[2]}}</td>
        </tr>
        <tr>
            <td style="font-weight: 600;">SĐT:</td>
            <td>{{patient[4]}}</td>
            <td style="padding-left: 40px; font-weight: 600;">Ngày khám:</td>
            <td>{{date}}</td>
        </tr>
    </table>
    {% endif %}
    <table id="talbe2-chi-tiet-thanh-toan-hoa-don">
        <tr>
            <th>STT</th>
            <th>Thuốc</th>
            <th>Đơn vị</th>
            <th>Số lượng</th>
            <th>Cách dùng</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <select class="medic">
                    {% if medicine %}
                        {% for m in medicine %}
                            <option value="{{m[0]}}">{{m[1]}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </td>
            <td>
                <select  class="medic_unit"></select>
            </td>
            <td><input type="number" name="quantity" placeholder="Số lượng"></td>
            <td></td>
        </tr>
    </table>
    <div class="chi-tiet-thanh-toan-hoa-don-button">
        <button>Lập phiếu khám</button>
    </div>
</div>
<br>
{%endblock%}