{% extends "doctor-view.html" %}
{% block details%}
<br>
<!--    Chi tiết thanh toán hóa đơn-->
<div class="chi-tiet-thanh-toan-hoa-don">
    <h1 style="text-align: center;">Lập phiếu khám</h1>
    {% if patient %}
    <table id="talbe1-chi-tiet-thanh-toan-hoa-don">
        <tr>
            <td style="font-weight: 600;">Tên khách hàng:</td>
            <td>{{[patient.last_name, patient.first_name]|join(' ')}}</td>
            <td style="padding-left: 40px; font-weight: 600;">Ngày sinh:</td>
            <td>{{patient.date_of_birth}}</td>
        </tr>
        <tr>
            <td style="font-weight: 600;">SĐT:</td>
            <td>{{patient.phone_number}}</td>
            <td style="padding-left: 40px; font-weight: 600;">Ngày khám:</td>
            <td>{{date}}</td>
        </tr>
    </table>
    {% endif %}
    <table id="talbe2-chi-tiet-thanh-toan-hoa-don">
        <tr>
            <th>STT</th>
            <th>Thuốc</th>
            <th>Đơn vị</th>
            <th>Số lượng</th>
            <th>Cách dùng</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <select name="optone" id="med-1" size="1">
                    <option value="" selected="selected">Select subject</option>
                </select>
            </td>
            <td>
                <select name="opttwo" id="med-unit-1" size="1">
                    <option value="" selected="selected">Please select subject first</option>
                </select>
            </td>
            <td><input type="number" name="quantity" placeholder="Số lượng"></td>
            <td></td>
        </tr>
    </table>
    <button style="padding: 0 20px;" class="button" onclick="add_row_for_med_bill()">+</button>
    <br><br>
    <input type="submit" value="Lập phiếu khám">
</div>
<br>
{%endblock%}