{% extends "doctor-view.html" %}
{% block details%}
<br>
<div class="thanh-toan-hoa-don">
    <h1 style="margin-bottom: 20px;color:#17a2b8">Danh sách khám bệnh</h1>
    <form method="get">
        <input type="date" name="date" value="{{ request.args.get('date') if request.args.get('date')
                else [last_date.get('year'), last_date.get('month'), last_date.get('day')]|join('-')}}">
        <input type="submit" style="margin-right: 10px; border-radius: 5px; padding: 0 5px;">
    </form>
    <br><br>
    <form name="form1" id="form1">
        <table id="table-thanh-toan-hoa-don">
        <tr>
            <th>STT</th>
            <th>Thuốc</th>
            <th>Đơn vị</th>
            <th>Số lượng</th>
            <th>Cách dùng</th>
        </tr>
        {% if pati %}
            {% for p in pati %}
            <tr>
                <td>1</td>
                <td>
                    <select name="optone" id="typeSel" size="1">
                        <option value="" selected="selected">Select subject</option>
                    </select>
                </td>
                <td>
                    <select name="opttwo" id="fieldSel" size="1">
                        <option value="" selected="selected">Please select subject first</option>
                    </select>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    </form>
    <input style="padding: 0 20px;" type="submit" class="button add_another" value="+"/>

</div>
<br>
{%endblock%}