{% extends "nurse-view.html" %}
{% block details%}
<br>
<div class="thanh-toan-hoa-don">
    <h1 style="margin-bottom: 20px;color:#17a2b8">Thanh Toán Hóa Đơn</h1>
    <form method="get">
        <input type="date" name="date" value="{{ request.args.get('date') if request.args.get('date')}}">
        <input type="submit">
    </form>
    <br><br>
    <table id="table-thanh-toan-hoa-don">
        <tr>
            <th>Ngày khám</th>
            <th>Họ và tên</th>
            <th>Ngày sinh</th>
            <th>Giá trị</th>
            <th>Thanh toán</th>
        </tr>
        {% if bill %}
            {% for b in bill %}
            <tr>
                <td>{{b[0]}}</td>
                <td>{{[b[1], b[2]]|join(' ')}}</td>
                <td>{{b[3]}}</td>
                <td>{{b[4]}} VND</td>
                <td>
                    {% if b[5] == True %}
                    <button disabled style="background-color: green; color:white">Đã thanh toán</button>
                    {% else %}
                    <button style="background-color: green; color:white">Thanh toán</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
<br>
{%endblock%}